pub/media/*
pub/media/wysiwyg/*.*

.github
auth.json*

/.buildpath
/.cache
/.metadata
/.project
/.settings
/.user.ini

/robots.txt
/pub/robots.txt
/pub/static/*

/.gitattributes
/app/config_sandbox
/app/etc/env.php
/app/etc/config.php

/var/*
/vendor/*
/generated/*
/setup

/dev/tools/*
!/dev/tools/frontools/config/themes.json
/tools
